export(spd.mean)
export(spd.dist)
export(spd.vectorize)
export(spd.estimate)
export(spd.interpolate)
export(spd.svm)
export(spd.logmap)
export(spd.expmap)
export(spddot)
export(spd.whiten)
export(spd.correlation)
export(spd.transport)

importFrom(geigen, geigen)

importFrom(expm,expm)
importFrom(expm,logm)
importFrom(expm,sqrtm)

importFrom(nlshrink,linshrink_cov)
importFrom(nlshrink,nlshrink_cov)

importFrom(huge,huge)
importFrom(huge,huge.select)

importFrom(proxy,dist)

importFrom(kernlab,ksvm)
importFrom(kernlab,as.kernelMatrix)
importMethodsFrom(kernlab,predict)
importMethodsFrom(kernlab,SVindex)
importClassesFrom(kernlab,ksvm)
importClassesFrom(kernlab,kernelMatrix)
